In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel('raw_data.xlsx')

In [3]:
data.head()

,Disease,Count of Disease Occurrence,Symptom
0,UMLS:C0020538_hypertensive disease,3363.0,UMLS:C0008031_pain chest
1,NaN,NaN,UMLS:C0392680_shortness of breath
2,NaN,NaN,UMLS:C0012833_dizziness
3,NaN,NaN,UMLS:C0004093_asthenia
4,NaN,NaN,UMLS:C0085639_fall

In [4]:
data.fillna('xxx',inplace=True)

In [5]:
temp=''
for i in range(0,1865):
    if data['Disease'][i]!='xxx':
        temp=data['Disease'][i]
    else:
        data.set_value(i,'Disease',temp)

C:\Users\Akhil Ch\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [6]:
temp=''
for i in range(0,1865):
    if data['Count of Disease Occurrence'][i]!='xxx':
        temp=data['Count of Disease Occurrence'][i]
    else:
        data.set_value(i,'Count of Disease Occurrence',temp)

C:\Users\Akhil Ch\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [7]:
for i in range(0,1865):
    data['Disease'][i]=data['Disease'][i].split('_')[-1]
    data['Symptom'][i]=data['Symptom'][i].split('_')[-1]

In [8]:
data.rename(columns={'Disease':'Source','Symptom':'Target','Count of Disease Occurrence':'Weight'})

                 Source Weight               Target
0  hypertensive disease   3363           pain chest
1  hypertensive disease   3363  shortness of breath
2  hypertensive disease   3363            dizziness

In [9]:
data.columns=['Source','Weight','Target']

In [10]:
data.to_csv('data_cleaned.csv',index=False)

In [11]:
data=pd.read_csv('data_cleaned.csv')

In [13]:
df_t=pd.get_dummies(data.Target)

In [15]:
df_s=data['Source']

In [16]:
data_pivoted=pd.concat([df_s,df_t],axis=1)

In [18]:
data_pivoted.drop_duplicates(keep='first',inplace=True)

In [19]:
data_pivoted=data_pivoted.groupby('Source').sum()

In [21]:
data_pivoted.to_csv('pivoted_data.csv')

In [22]:
dp=pd.read_csv('pivoted_data.csv')

In [23]:
cols=dp.columns[1:]

In [24]:
X=dp[cols]

In [25]:
y=dp['Source']

In [26]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)